/* Style the header with a grey background and some padding */


*::selection {
    background: var(--main-color);
    color: #fff;
}

body{
  color: var(--text-color);
    background: linear-gradient(109.6deg, rgb(200, 255, 106) 11.2%, rgb(49, 214, 110) 91.1%);
    font-family: Nunito;
}

.header.img {
  padding: 0;
}

/* Style the header links */
.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 7px;
  border-radius: 4px;
  margin-top: 25px;
      padding: 10px 20px;
    font-weight: 600;
 
}
 .header a:hover{
    color: var(--main-color);
    transition: .4s;
}



/* Float the link section to the right */
.header-right {
  float: right;
}

.rectangle {
  height:440px;
  width: 800px;
  background-color:  #e6ffb3;
  opacity: 0.5;
  margin-left:270px;
  margin-top: 45px;

}
.rectangle h1 {
  margin-left:280px;
  font-size: 25px;
  font-family:Helvetica;
  position: absolute;
  top:120px;
  
}

  
.rectangle img {
  margin-top: 100px;
  margin-left: 85px;

}


.rectangle form{
  margin-left: 500px;
  width:120px;
  margin: 1px 500px;
  bottom: 75px;
  position: absolute;
  top: 200px;

}

.form2 h3{
  margin-left: 85px;
  position: absolute;
  bottom: 185px;
  color: black;
 
}
.form3 {
  margin-left: 85px;
  position: absolute;
  bottom: 80px;
}

.form4 {
  margin-left: 500px;
  position: absolute;
  bottom: 60px;
}
.footer{
    padding: 10px 0;
    margin-left: 270px;
}
.main{
    display: flex;
    flex-wrap: wrap;
   
}
.col{
    width: 100%;
}
.col h4{
    font-size: 1.2rem;
    color: #002e1b;
}
.col ul li{
   
  padding-right: 30px;
}
.col ul li a{
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    transition: .4s;
    margin-top: 20px;

}
.col ul li a:hover{
    transform: scale(1.2) translateY(7px);
}
.copyright{
    width: 100%;
}
.copyright p{
    color: #002e1b;
    font-size: 1rem;
    font-weight: 600;
    display: inline;
}

/* Add media queries for responsiveness - when the screen is 900px wide or less, stack the links on top of each other */
@media (max-width: 1560px){
    header{
        padding: 15px 40px;
    }
    :root {
        --big-font:3.5rem;
        --h2-font:2rem;
    }
}

@media (max-width: 1140px){
    section{
        padding: 50px 8%;
    }
    #menu-icon{
        display: initial;
        color: var(--main-color);
    }
    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #002e1b;
        transition: .3s;
    }
    header .navbar.active{
        top: 70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .col{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 720px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        order: 2;
    }
    section{
        padding: 100px 7%;
    }
    
}

@media (max-width: 575px){
    .col{
        width: 100%;
    }
    .rectangle{
        float: none;
      }
}
