/* Style the header with a grey background and some padding */


*::selection {
    background: var(--main-color);
    color: #fff;
}

body{
  color: var(--text-color);
    background: linear-gradient(109.6deg, rgb(200, 255, 106) 11.2%, rgb(49, 214, 110) 91.1%);
}

.header.img {
  padding: 0;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 7px;
  border-radius: 4px;
  margin-top: 25px;
  font-weight: 600;
  display: flex;
}




/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */


/* Change the background color on mouse-over */
.header a:hover {
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: #228B22;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.rectangle {
  height:440px;
  width: 800px;
  background-color:  #e6ffb3;
  opacity: 0.5;
  margin-left:270px;
  margin-top: 45px;

}
.rectangle h1 {
  margin-left:280px;
  font-size: 25px;
  font-family:Helvetica;
  position: absolute;
  top:120px;
  
}

  
.rectangle img {
  margin-top: 80px;
  margin-left: 85px;

}


.rectangle form{
  margin-left: 500px;
  width:120px;
  margin: 1px 500px;
  bottom: 85px;
  position: absolute;
  top: 200px;

}

.form2 h3{
  margin-left: 85px;
  position: absolute;
  bottom: 185px;
  color: black;
 
}
.form3 {
  margin-left: 85px;
  position: absolute;
  bottom: 80px;
}

.form4 {
  margin-left: 500px;
  position: absolute;
  bottom: 60px;
}

/* Add media queries for responsiveness - when the screen is 900px wide or less, stack the links on top of each other */
@media screen and (max-width: 900px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .rectangle{
    float: none;
  }
}


